<style>
    footer {
        font-family: 'Bellefair', serif;
        background-color: #03371f;
        
    }
/* #q1{
    position: fixed;
        margin-bottom: 0px;
} */
    /* Footer */
    .footer-title {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #03371f;
        color: #b2d680;
        font-size: 0.875rem;
        font-weight: 600;
        height: 60px;
    }

    .footer-items {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin: 0 auto;
        background: #03371f;
    }

    .footer-items h3 {
        font-size: 1rem;
        font-weight: 500;
        color: #b2d680;
        margin: 20px 0 10px 0;
    }

    .footer-items ul {
        list-style: none;
        margin-bottom: 20px;
    }

    .footer-items li a {
        color: #b2d680;
        font-size: 0.875rem;
    }

    .footer-items li a:hover {
        text-decoration: underline;
    }


    .footerL {
        width: 100%;
        display: flex;
        justify-content: center;
        background: #03371f;
        padding: 20px 0;
    }

    .footerL div {
        padding: 0 10px;
        max-width: 1200px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .footerL span {
        color: #b2d680;
    }

    .footerL a {
        padding: 0;
    }
</style>













<!-- Footer-->
<div id="q1">
    <footer>
        <a href="#" class="footer-title">
            <h6> Back to Home</h6>
        </a>
        <div class="footer-items">
            <ul>
                <h3>GET TO KNOW US</h3>
                <li><a href="#">About us</a></li>
                <li><a href="#">Our Impact</a></li>
                <li><a href="#">Botanica Science</a></li>
            </ul>
            <ul>
                <h3>CONNECT WITH US</h3>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Instagram</a></li>
            </ul>
    
            <ul>
                <h3>CUSTOMER SERVICE</h3>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Shipping & Returns</a></li>
                <li><a href="#">Start a U.S. Return</a></li>
                <li><a href="#">U.S. Gift Card Balance</a></li>
                <li><a href="#">Botanica App Download</a></li>
                <li><a href="#">Accessibility</a></li>
            </ul>
        </div>
    
    
    
    
    
    </footer>
    
    <div class="footerL">
        <span>Copyright ©Botanica 2023</span>
    
    </div>
</div>
