<table class="container table w-75 table-striped-columns my-5 mt-5 p-5">

    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <th scope="col">Price</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let i of pdatas, let j=index">
            <th scope="row">{{j+1}}</th>
            <td>
                <h5>{{i.pname}}</h5>
                <img class="w-25" src={{i.image}} alt="">

            </td>

            <td>{{i.price}}</td>

            <td>
                <button (click)="remove(i._id)" class="btn btn-danger w-100">Remove</button>
                <button (click)="addtocart(i.pId, i._id)" class="btn btn-success w-100">Add to cart </button>

            </td>

        </tr>
    </tbody>
</table>