<div class="text-center mt-5">
    <h1 style="color:#b5cb7c;" class="text-center mt-5">Add new Product</h1>


    <form [formGroup]="addproductForm" action="" class="border p-5 my-4 container w-50">
        <input formControlName="pname" type="text" placeholder="product name" id="w1" name="e1"
            class="form-control mt-3">
        <input formControlName="price" type="text" placeholder="product price" id="w2" name="e2"
            class="form-control mt-3">
        <input formControlName="image" type="text" placeholder="product image" id="w3" name="e3"
            class="form-control mt-3">

        <button (click)="addNewproduct()" style="color:#b5cb7c;" class="btn btn-outline-light mt-5 w-25">Add</button>

    </form>
</div>